@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  width: 400px;
  height: 520px;
}
