@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
$grey: #838383;
$blue: #2860e1;
$green: #00e676;
$red: #d50000;
$dark: #464555;

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  width: 400px;
  height: 520px;
  overflow: scroll;
}

header {
  h1 {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1rem;
  }
  display: flex;
  height: fit-content;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  .mode-toggle{
    display: flex;
    margin-right: 5px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
}
hr {
  margin-top: 0px;
}
.link-validator {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;

  &__header {
    padding: 5px;
    h3 {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin-left: 5px;
    }
    p {
      padding-right: 10px;
      font-size: 1rem;
      b {
        color: $blue;
      }
    }
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__main {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 15px;
      flex-direction: column;
      height: fit-content;
      border: solid 1px #e2e8f0;
      b {
        h2 {
          font-size: 1rem;
        }
      }
      P {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        width: fit-content;
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }
  .detected_difference {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span {
      display: flex;
      padding: 2px;
      align-items: center;
      h2 {
        margin-left: 5px;
        font-size: 1rem;
      }
    }

    p {
      color: $blue;
      font-size: 1rem;
    }
  }
  .whitelist_site {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
  }
}
.approvals {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    h3 {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin-left: 5px;
    }
    b {
      color: $blue;
      font-weight: bold;
      padding-right: 10px;
    }
  }
  .contracts_header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .contract_list {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 320px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: white; /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $grey; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid white; /* creates padding around scroll thumb */
    }

    .contract {
      display: flex;
      width: 100%;
      height: fit-content;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 5px;
      &__title {
        display: flex;
        justify-self: flex-start;
        color: $dark;
        font-size: 1rem;
      }
      &__button {
        p {
          display: flex;
          margin-left: auto;
          align-items: center;
          padding: 5px;
          border-radius: 3px;
          background-color: $dark;
          color: white;
          padding: 10px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
.price-checker {
  input {
    height: 35px;
    border-radius: 5px;
    border-color: #d7dde4 !important;
    padding-left: 5px;
    &:focus {
      outline: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;

    h3 {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin-left: 5px;
    }
    b {
      color: $blue;
      font-weight: bold;
      padding-right: 10px;
    }
  }
  .offer_header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  input {
    border: solid 1px black;
  }
  .scroll {
    height: 320px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: white; /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $grey; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid white; /* creates padding around scroll thumb */
    }
  }
  .generate_summary {
    width: 100%;
    display: flex;
    justify-content: center;
    &__btn {
      background-color: $dark;
      padding: 10px;
      border-radius: 3px;
      font-size: 1rem;
      color: white;
      font-size: 1rem;
      margin: 10px;
    }
  }

  .nft-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__address {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-size: 1rem;
    }
    &__token-id {
      display: flex;
      flex-direction: column;
      width: 30%;
      font-size: 1rem;
    }
  }
  .offer-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__amount {
      display: flex;
      flex-direction: column;
      width: 40%;
      font-size: 1rem;

      input {
        padding-left: 5px;
      }
    }
    &__token-type {
      display: flex;
      font-size: 1rem;
      flex-direction: column;
      width: 50%;
    }
  }
  .summary_list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    h2 {
      b {
        font-size: 1rem;
      }
    }
    .summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;

      &__title {
        display: flex;
        font-size: 1rem;
      }
      &__input {
        display: flex;
        margin-left: auto;
        width: 30%;
        padding-left: 5px;
      }
    }
  }
  .verdict {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
    h2 {
      font-weight: bold;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      b {
        color: $blue;
        font-weight: lighter;
        margin-left: 5px;
      }
    }
  }
}
.platform-checkmark {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;

    h2 {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
    p {
      color: $blue;
      font-weight: bold;
    }
  }
  &__main-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;

    h3,
    p {
      font-family: monospace;
      font-size: 0.9rem;
    }
    p {
      color: $blue;
    }

    h1 {
      font-size: 1.6rem;
      color: $green;
    }
  }
  &__more-details {
    display: flex;
    justify-content: space-between;
    height: 280px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: white; /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $grey; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid white; /* creates padding around scroll thumb */
    }
    span {
      display: flex;
      flex-direction: column;
      width: 25%;
      text-align: center;
      padding: 5px;

      &:first-child{
        width:50%
      }

      h2 {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1rem;
      }
      p {
        font-size: 1rem;
      }
      p[id="about"] {
        padding:5px;
        text-align: left;
      }
    }
  }
}
